<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IClienteBusiness" />
                <binding name="BasicHttpBinding_IUsuarioBusiness" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/LayerBusiness/ClienteBusiness/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClienteBusiness"
                contract="ServiceCliente.IClienteBusiness" name="BasicHttpBinding_IClienteBusiness" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/LayerBusiness/UsuarioBusiness/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUsuarioBusiness"
                contract="ServiceUsuario.IUsuarioBusiness" name="BasicHttpBinding_IUsuarioBusiness" />
        </client>
    </system.serviceModel>
</configuration>